<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIOS STUDIO</title>
    <link rel="shortcut icon" href="./assets/ico/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/aec6b64519.js" crossorigin="anonymous"></script>
    <link href="./assets/css/reset.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/responsivo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="sitio">
        <!-- Inicio del encabezamiento -->
        <header class="encabezado">
            <div class="titulo">
                <img class="titulo__logo" src="assets/img/logo.jpg">
                <h1 class="titulo__texto">
                    GENIOS STUDIO
                </h1>
            </div>
            <nav class="menu">
                <ul class="menu__lista">
                    <li class="menu__item">
                        <a class="menu__link" href="#secInicio">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            Inicio
                        </a>
                        <a class="menu__link" href="#secServicios">
                            <i class="fa-solid fa-bell-concierge"></i>
                            Servicios
                        </a>
                        <a class="menu__link" href="#secProyectos">
                            <i class="fa-solid fa-list-check"></i>
                            Proyectos
                        </a>
                        <a class="menu__link" href="#secQuienes">
                            <i class="fa-solid fa-address-card"></i>
                            Quiénes somos
                        </a>
                        <a class="menu__link" href="#secContacto">
                            <i class="fa-solid fa-phone-flip"></i>
                            Contacto
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Fin del encabezamiento -->

        <!-- Noticias -->
        <div class="noticias">
            <div class="noticias__moneda">
                <div id="bitcoin">
                    <h1>Bitcoin:</h1>
                    <P class="noticias__cotizacion"><br>{{time}}</P>
                    <section v-if="errored">
                        <p>Intente más tarde</p>
                    </section>
                    <section v-else>
                        <div v-if="loading">Cargando...</div>
                        <div v-else v-for="currency in info" class="currency">
                            <br>{{ currency.code }}:
                            <span class="noticias__cotizacion">
                                <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
                            </span>
                        </div>
                    </section>
                </div>
                <div id="blue">
                    <h1><br>Blue Venta:</h1>
                    <section v-if="errored">
                        <p>Intente más tarde</p>
                    </section>
                    <section v-else>
                        <div v-if="loading">Cargando...</div>
                        <div v-else class="currency">
                            <span class="noticias__cotizacion">
                                <br>1U$D=${{ info.value_sell }}
                            </span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- Fin de Noticias -->

        <!-- Inicio del Inicio -->
        <div class="inicio" id="secInicio">
            <table>
                <tbody class="inicio__lista">
                    <tr>
                        <td class="inicio__item">Soluciones para Empresas</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="inicio__item">Desarrollo WEB</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="inicio__item">IT Outsorcing</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="inicio__item">Marketing Digital</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="inicio__item">Publicidad Online</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Fin del Inicio -->

        <!-- Inicio de Servicios -->
        <div class="servicios" id="secServicios">
            <ul class="servicios__lista">
                <li>
                    <h2 class="servicios__titulo">Desarrollo WEB</h2>
                </li>
                <li>
                    <p>Sitios web personalizados.</p>
                </li>
                <li>
                    <p>Optimizamos la experiencia del usuario y su navegabilidad.</p>
                </li>
                <li>
                    <p>Diseño integral del sitio según el objetivo de la empresa.</p>
                </li>
                <li>
                    <p>Tienda Online.</p>
                </li>
            </ul>
            <ul class="servicios__lista">
                <li>
                    <h2 class="servicios__titulo">IT Outsorcing</h2>
                </li>
                <li>
                    <p>Tercerizamos los servicios de la empresa para:</p>
                </li>
                <li>
                    <p>Reducir la carga de trabajos internos.</p>
                </li>
                <li>
                    <p>Mejorar y escalar la productividad.</p>
                </li>
            </ul>
            <ul class="servicios__lista">
                <li>
                    <h2 class="servicios__titulo">Marketing Digital</h2>
                </li>
                <li>
                    <p>Llegar a potenciales clientes.</p>
                </li>
                <li>
                    <p>Integrar con Google Ads y Facebook Ads.</p>
                </li>
            </ul>
            <ul class="servicios__lista">
                <li>
                    <h2 class="servicios__titulo">Publicidad Online</h2>
                </li>
                <li>
                    <p>Optimizamos el SEO del sitio.</p>
                </li>
                <li>
                    <p>Posicionamos en las redes sociales.</p>
                </li>
                <li>
                    <p>Diseño gráfico de la marca y su impronta.</p>
                </li>
            </ul>
        </div>
        <!-- Fin de Servicios -->

        <!-- Inicio de Proyectos -->
        <div class="proyectos" id="secProyectos">
            <ul>
                <li>
                    <h2>Últimos Proyectos:</h2>
                </li>
                <li>
                    <p>Sitio de la UEP N° 149 "Fundación UOCRA"</p>
                    <div>
                        <a href="https://murmuring-spire-31279.herokuapp.com/" target="_blank"
                            rel="noopener noreferrer"><strong>Enlace</strong></a>
                    </div>
                    <div>
                        <iframe class="proyectos__video" src="resources/uep.mp4" title="Presentación del sitio"
                            frameborder="0">
                        </iframe>
                        <!-- allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" -->
                    </div>
                </li>
            </ul>
        </div>
        <!-- Fin de Proyectos -->

        <!-- Inicio de Quiénes somos -->
        <div class="quienes" id="secQuienes">
            <ul>
                <li class="quienes__titulo">
                    Comisión 22501 - Full Stack Python
                </li>
                <li>
                    <i class="fa-solid fa-people-group"></i>
                    Grupo 9 - 2022/10
                </li>
                <li class="quienes__integrante">
                    Sr. Carlos Martin Bracamonte
                </li>
                <li class="quienes__integrante">
                    Sr. Roberto Stick
                </li>
                <li class="quienes__integrante">
                    Ing. José Agustín González
                </li>
                <li class="quienes__profesor">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    Prof. Lic. Ramiro Escalante Leiva
                </li>
            </ul>
        </div>
        <!-- Fin de Quiénes somos -->

        <!-- Inicio de Contacto -->
        <!-- https://docs.google.com/spreadsheets/d/1WOSjofpkENShUxnCW2GIp0AFpIK4XkRVpZBcwlMilts/edit?usp=sharing -->
        <div class="contacto" id="secContacto">
            <h1 class="contacto__titulo">
                <i class="fa-solid fa-quote-left"></i>
                Atención Personalizada
                <i class="fa-solid fa-quote-right"></i>
            </h1>
            <iframe class="contacto__formulario"
                src="https://docs.google.com/forms/d/e/1FAIpQLSeQ6JYYWKqxxPdvZkAPiYd9KdsJn1yxG6-4EA8Qs-VO8Vt1xQ/viewform?embedded=true"
                width="640" height="709" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
            <ul class="contacto__datos">
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    geniosstudio4@gmail.com
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    +54 9 362 400 - 0000
                </li>
                <li>
                    <i class="fa-solid fa-location-pin"></i>
                    <a class="contacto__oculto" href="https://docs.google.com/spreadsheets/d/1WOSjofpkENShUxnCW2GIp0AFpIK4XkRVpZBcwlMilts/edit?usp=sharing"
                        target="_blank">Argentina</a>
                </li>
            </ul>
        </div>
        <!-- Fin de Contacto -->

        <div class="pie">
            Todos los derechos reservados &copy; Genios Studio - Octubre del 2022.
        </div>
    </div>
    <script src="assets/js/bitcoin.js"></script>
    <script src="assets/js/blue.js"></script>
</body>

</html>