/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .proyectos {
        display: none;
    }

    .noticias {
        display: none;
    }
    /* .servicios{
        width: 85%;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .servicios{
        width: 50%;
    } */
}

@media only screen and (max-width: 768px) {
    .sitio {
        grid-template-columns: 100%;
        grid-template-rows: 50px auto auto auto auto auto auto;
        grid-template-areas:
            "header"
            "inicio"
            "servicios"
            "proyectos"
            "quienes"
            "contacto"
            "footer";
        font-size: small;
    }

    .menu {
        display: none;
    }

    .noticias {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*
    */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*
    */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*
    */
}