/* GENERAL */
.sitio {
    background: #170034;
    padding: 1rem;
    color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80% 15%;
    grid-template-rows: 50px auto auto auto auto auto auto;
    grid-template-areas:
        "header header"
        "inicio sidebar"
        "servicios sidebar"
        "proyectos sidebar"
        "quienes sidebar"
        "contacto sidebar"
        "footer footer";
    font-family: 'Poppins';
    row-gap: 2.7rem;
}

/* ENCABEZAMIENTO */
.encabezado {
    grid-area: header;
    align-items: center;

    display: flex;
    background: #f1f1f1;
    padding: 1rem;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    justify-content: space-between;
    border-radius: 30px;
}

.titulo {
    grid-area: header;
    display: flex;
    align-items: center;
    color: black;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}

.titulo__logo {
    height: 2rem;
}

.titulo__texto {
    margin: auto 5px;
}

.menu__link {
    color: #333333;
    padding: .5rem 0.5rem;
    font-size: small;
    text-decoration: none;
}

.menu__link:hover {
    border-bottom: 2px solid #0073e6;
}

/* NOTICIAS */
.noticias {
    grid-area: sidebar;
    background: url('../img/textura-fondo-marmol.png') center / cover no-repeat;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-family: Impact;
    font-weight: lighter;
    padding: 1rem;
    text-align: center;
    border-radius: 30px;
}

.noticias__moneda {
    display: block;
    justify-items: center;
    position: sticky;
    top: 0;
    padding-top: 50px;
    overflow: hidden;
    z-index: 1;
}

.noticias__cotizacion {
    font-style: italic;
    font-weight: bolder;
}

/* INICIO */
.inicio {
    grid-area: inicio;
    background: url('../img/SL_101619_24150_63.jpg') center / cover no-repeat;
}

.inicio__lista {
    color: rgb(165, 177, 195);
    padding: 1rem;
}

.inicio__item {
    width: 20%;
    font-family: arial;
    font-style: italic;
}

/* SERVICIOS */
.servicios {
    grid-area: servicios;
    background: url('../img/4882066.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100%;
    color: rgb(165, 177, 195);
    font-size: large;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.servicios__lista {
    display: center;
    padding-bottom: 3em;
    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
    align-items: center;
}

.servicios__titulo {
    font-size: x-large;
    margin: 10px 0;
}

.servicios p {
    font-size: medium;
    margin: 3px 0;
}

/* PROYECTOS */
.proyectos {
    grid-area: proyectos;
    display: flex;
    justify-content: center;
    text-align: center;
    background: url('../img/18857.jpg') center / cover no-repeat;
    width: auto;
    height: 100%;
    padding: 1rem;
    font-size: x-large;
    line-height: normal;
    color: rgb(165, 177, 195);
}

.proyectos a {
    color: rgb(165, 177, 195);
    text-decoration: none;
}

.proyectos a:hover {
    color: #0073e6;
    text-decoration: underline;
}

.proyectos__video {
    padding-top: 20px;
    width: 600px;
    height: 400px;
}

/* QUIENES */
.quienes {
    grid-area: quienes;
    /* background: url('../img/vector-JUL-2021-72-modified.jpg') center / cover no-repeat; */
    background: url('../img/6249980.jpg') center / cover no-repeat;
    display: flex;
    justify-content: center;
    background-color: rgba(99, 104, 150, 0.4);
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    color: black;
    padding: 1rem;
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quienes__titulo{
    text-decoration: underline;
}

.quienes__integrante{
    font-style: italic;
    font-weight: bolder;
}
.quienes li {
    margin-top: 10px;
    transition: all 600ms ease-in-out;
}

.quienes li:hover {
    transform: rotateX(360deg);
}

/* CONTACTO */
.contacto {
    grid-area: contacto;
    background: url('../img/5559852-modified.jpg') center / cover no-repeat;
    display: block;
    justify-content: center;
    background-color: rgba(99, 104, 150, 0.4);
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.contacto__titulo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-style: oblique;
    text-decoration:underline;
}

.contacto__formulario {
    width: 90%;
}

.contacto__datos li{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(173,216,230,0.3);
}

.contacto__oculto{
    text-decoration: none;
    cursor: none;
    font-style: normal;
    color: black;
}

/* PIE */
.pie {
    grid-area: footer;
    background-color: #f1f1f1;
    text-align: center;
    color: black;
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px;
}